@import url(normalize.css);
html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../ma2_images/wallpaper.jpg);
  background-repeat: repeat;
  background-size: contain; }

.grid {
  display: grid;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: white;
  padding: 20px;
  grid-gap: 20px; }

.grid-item {
  background-color: #bebebe;
  box-shadow: 1px 1px 10px black; }

.title {
  font-family: "Special Elite", cursive;
  font-size: 2.3vw;
  text-align: center;
  color: white;
  background-color: black; }

.now_playing p {
  font-family: monospace;
  font-size: 2vh;
  letter-spacing: 10px;
  padding: 1px;
  margin: 10px;
  text-align: center;
  color: white;
  background-color: black; }

img.music_bars {
  height: 4vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.album {
  position: relative; }

.current_album {
  position: relative; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 1s ease;
  background-color: black;
  background-image: url(../ma2_images/cd.png);
  background-size: 100%; }

.album:hover .overlay {
  opacity: .9; }

.current_album:hover .overlay {
  opacity: .9; }

.album_info_name {
  position: relative;
  font-family: monospace;
  text-align: center;
  color: black;
  padding: 0px 50px 0px 50px;
  font-size: 1.5vh;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); }

.album_info_artist {
  position: relative;
  font-family: monospace;
  text-align: center;
  color: black;
  padding: 0px 50px 0px 50px;
  font-size: 1.5vh;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%); }

img {
  position: relative;
  width: 100%;
  display: block; }

.tracklist {
  position: relative;
  width: 100%; }

.tracks {
  position: absolute;
  width: 100%;
  height: 100%; }

ol.tracks {
  color: white;
  display: block;
  font-family: "Special Elite", cursive;
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  text-align: center;
  list-style-type: none;
  overflow: auto; }

li {
  background-color: black;
  padding: 1px;
  border: 3px solid #bebebe; }

li:hover {
  color: black;
  background-color: lightgray; }

.previous {
  border: outset; }

.play {
  border: outset; }

.pause {
  border: outset; }

.next {
  border: outset; }

.previous:hover {
  background-color: lightgray; }

.play:hover {
  background-color: lightgray; }

.pause:hover {
  background-color: lightgray; }

.next:hover {
  background-color: lightgray; }

.footer_info {
  font-family: monospace;
  font-size: 1vw;
  text-align: center;
  color: white;
  background-color: black; }

@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 25px 50px 0px 50px; }

  .title {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    letter-spacing: 15px; }

  .now_playing {
    grid-column: 2 / span 4;
    grid-row: 4 / span 1; }

  .current_album {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2; }

  .tracklist {
    grid-column: 4 / span 2;
    grid-row: 2 / span 2; }

  .previous {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1; }

  .play {
    grid-column: 3 / span 1;
    grid-row: 5 / span 1; }

  .pause {
    grid-column: 4 / span 1;
    grid-row: 5 / span 1; }

  .next {
    grid-column: 5 / span 1;
    grid-row: 5 / span 1; }

  .big_album_1 {
    grid-column: 1 / span 2;
    grid-row: 7 / span 2; }

  .big_album_2 {
    grid-column: 5 / span 2;
    grid-row: 6 / span 2; }

  .footer_info {
    grid-column: 1 / span 6;
    grid-row: 9 / span 1; } }
@media screen and (max-width: 1200px) and (min-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 25px 38px 0px 38px; }

  .title {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    letter-spacing: 10px; }

  .now_playing {
    grid-column: 1 / span 4;
    grid-row: 4 / span 1; }

  .current_album {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2; }

  .tracklist {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2; }

  .previous {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1; }

  .play {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1; }

  .pause {
    grid-column: 3 / span 1;
    grid-row: 5 / span 1; }

  .next {
    grid-column: 4 / span 1;
    grid-row: 5 / span 1; }

  .big_album_1 {
    grid-column: 1 / span 2;
    grid-row: 8 / span 2; }

  .big_album_2 {
    grid-column: 3 / span 2;
    grid-row: 6 / span 2; }

  .big_album_3 {
    grid-column: 3 / span 2;
    grid-row: 10 / span 2; }

  .big_album_4 {
    grid-column: 1 / span 2;
    grid-row: 12 / span 2; }

  .footer_info {
    grid-column: 1 / span 4;
    grid-row: 14 / span 1; } }
@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    margin: 25px 25px 0px 25px; }

  .title {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    letter-spacing: 5px; }

  .now_playing {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1; }

  .current_album {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2; }

  .tracklist {
    grid-column: 1 / span 2;
    grid-row: 7 / span 2; }

  .tracks {
    position: relative;
    width: 100%;
    height: 100%; }

  .previous {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1; }

  .play {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1; }

  .pause {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1; }

  .next {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1; }

  .footer_info {
    grid-column: 1 / span 2;
    grid-row: 19 / span 1; } }

/*# sourceMappingURL=main.css.map */
