// background
$page_background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../ma2_images/wallpaper.jpg);
$grid_background:  rgb(255, 255, 255);
$grid-item_background: rgb(190, 190, 190);

// typography
$titles: 'Special Elite', cursive;
$info: monospace;
$title_size: 2.3vw;
$tracklist_size: 15px;

// screensize
$mobile_screen: 800px;
$tablet_screen: 1200px;